
# Directorio para CSVs en instancia local para no colocar demasiados datos en el repositorio remoto
csv/



# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Jupyter Notebooks
.ipynb_checkpoints
__pycache__/
.virtual_documents/

# Entornos virtuales
.venv
venv
env
.env
